bson==0.5.10
certifi==2020.6.20
chardet==3.0.4
Cython==0.29.14
dataclasses==0.6
docutils==0.16
idna==2.10
Kivy==2.0.0rc2
Kivy-Garden==0.1.4
kivymd==0.104.1
Pillow==7.2.0
pygame==1.9.6
Pygments==2.6.1
requests==2.24.0
urllib3==1.25.9
