certifi==2020.12.5
chardet==3.0.4
docutils==0.16
ffpyplayer==4.3.2
idna==2.10
Kivy==2.1.0
Kivy-Garden==0.1.4
kivymd==0.104.1
Pillow==9.0.1
Pygments==2.7.4
requests==2.25.0
urllib3==1.26.5
numpy==1.22.3
