name: test

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.12']  # '3.11',

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip3 install poetry
        poetry install --with dev,test

    - name: Run tests
      run: poetry run pytest tests

    - name: Run I18N conversion
      run: poetry run python i18n.py -todo

    - name: Build
      run: |
        poetry build
